/* Jumbotron */
.jumbotron {
    background-image: url(/img/hero.jpg);
    background-size: cover;
    height: 710px;
    margin-top: -280px;
}

.jumbotron .display-1 {
    margin-top: 315px;
    margin-left: 80px;
    position: absolute;
}

.jumbotron .container .btn {
    margin-top: 550px;
    margin-left: 110px;
    box-shadow: 0.5px 0.5px black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Desktop */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron {
        background-image: url(/img/hero.jpg);
        background-size: cover;
        height: 710px;
        margin-top: -110px;
    }

    .jumbotron .display-1 {
        margin-top: 400px;
        margin-left: 320px;
        position: absolute;
    }

    .jumbotron .container .btn {
        margin-top: 600px;
        margin-left: 530px;
        box-shadow: 0.5px 0.5px black;
    }
}
